version: 2.1
jobs:
  deployDesarrollo:
    docker:
      - image: circleci/openjdk
    steps:
      - add_ssh_keys:
          fingerprints:
            - "0a:91:dd:44:29:3d:e6:db:5d:f8:0e:94:01:71:c4:da"
      - checkout
      - run:
          name: "Deploy develop"
          command: |
            sudo chmod +rwx /var/www/html
            scp -v -o StrictHostKeyChecking=no -r index.html ubuntu@ec2-3-84-99-215.compute-1.amazonaws.com:/var/www/html/index.html
workflows: 
  version: 2
  Ejecutar:
    jobs:
      - deployDesarrollo
