version: 2.1
jobs:
  deployDesarrollo:
    docker:
      - image: circleci/openjdk
    steps:
      - add_ssh_keys:
          fingerprints:
            - "ac:4b:df:f5:22:5d:5e:3d:02:95:98:df:7d:17:5b:3f"
      - checkout
      - run:
          name: "Deploy develop"
          command: |
            sudo mkdir /home/circleci/.ssh
            sudo touch /home/circleci/.ssh/authorized_keys
            chmod 600 secondtry.pem
            scp -v -o StrictHostKeyChecking=no -i secondtry.pem -r index.html ssh -i "secondtry.pem" ubuntu@ec2-3-84-99-215.compute-1.amazonaws.com:/~/var/www/html/index.html
workflows: 
  version: 2
  Ejecutar:
    jobs:
      - deployDesarrollo
